<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= current_page.data.fetch("title") %></title>
    <%= stylesheet_link_tag "tailwind" %>
    <%= javascript_include_tag "build/application" %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0YNMWBS572"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-0YNMWBS572');
    </script>
  </head>
  <body class="bg-gray-100 dark:bg-slate-900 text-slate-900 dark:text-slate-300 text-sm md:text-base">
    <%= render "partials/navbar" %>
    <%= yield %>
  </body>
</html>
