<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= current_page.data.fetch("title") %></title>
    <%= stylesheet_link_tag "tailwind" %>
    <%= javascript_include_tag "build/application" %>
    <meta property="og:title" content="<%= current_page.data.fetch("title") %>" />
    <meta property="og:url" content="https://www.stevenwhat.me<%= current_page.request_path %>" />
    <meta property="og:type" content="<%= current_page.data.key?("primary_page") ? "website" : "article" %>" />
    <meta property="og:description" content="Steven's blog where we talk about all things tech, books, lifestyle." />
    <meta property="og:image" content="https://steven-steven.github.io/Blog/assets/images/avatar_hello.png" />
    <link rel="icon" type="image/x-icon" href="https://steven-steven.github.io/Blog/assets/images/avatar_hello.png">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0YNMWBS572"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-0YNMWBS572');
    </script>
  </head>
  <body class="bg-gray-100 dark:bg-slate-900 text-slate-900 dark:text-slate-300 text-sm md:text-base">
    <%= render "partials/navbar" %>
    <%= yield %>
  </body>
</html>
