---
title: Blog
subtitle: Thoughts, ideas, and other musings I've written about over the years
primary_page:
  name: Blog
  order: 2
---

<section class="pt-12 md:pt-16 flex flex-col space-y-5 text-base">
  <div data-controller="tag">

    <div class="tags border border-slate-600 border-dashed mb-5 px-5 pt-3">
      <div class="font-light year-heading mb-2">Filter by Tags:</div>

      <% BlogPage.all_tags.each do |tag| %>
        <button
          data-action="click->tag#toggleTag"
          data-tag="<%= tag %>"
          class="tag-button rounded-lg me-3 mb-3 px-2.5 py-0.5 ring-1 ring-inset md:text-sm text-xs"
        >
          #<%= tag %>
        </button>
      <% end %>
    </div>


    <% BlogPage.published.reverse.group_by { |post| post.publish_at.year }
      .each do |year, posts| %>
      <div data-tag-target="year">
        <h2 class="md:text-lg font-light year-heading"><%= year %></h2>

        <ul class="list-disc ml-10">
          <% posts.each do |post| %>
            <li class="post" data-tags="<%= post.tags.join(',') %>">
              <div class="flex flex-col md:flex-row flex-nowrap justify-between my-1">
                <%=link_to_page post, class: "md:text-lg font-normal hover:font-semibold" %>
                <div class="opacity-60">
                  <%= post.publish_at.strftime("%B %-d, %Y") %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</section>
